<div class="columns medium-6">
  <h3>Sign up</h3>

  <a href="http://localhost:3000/users/auth/twitter">Log in with Twitter</a>

  <form {{action "save" on="submit"}}>
    <label>Email
      {{input value=email placeholder='A valid email'}}
    </label>
    <label>Name
      {{input value=name placeholder='Your name'}}
    </label>
    <label>Password
      {{input value=password placeholder='Enter Password' type='password'}}
    </label>
    <label>Confirm password
      {{input value=password_confirmation placeholder='Confirm Password' type='password'}}
    </label>
    <br>
    <input type="submit" value="save" class="button tiny" />
  </form>
</div>