<small>{{bookmarks.length}} bookmarks</small>
<h3>{{topic}}</h3>
<br>
{{#each bookmarks}}
  <h5>{{title}}</h5>
  {{#link-to 'bookmarks.show' this}}
    <img {{bind-attr src='bookmark_img'}} alt='' class='bookmark-img'>
  {{/link-to}}
  <p>{{link-to url 'bookmarks.show' this}}</p>
{{/each}}


