<p>{{bookmarks.length}} bookmarks clipped under #{{topic}}</p>
{{#each bookmarks}}
<div class="row">
  <div class='columns medium-3'>
    {{#each hashtags}}
      <small>
        {{#link-to 'hashtags.show' this}}#{{topic}}{{/link-to}}
        &nbsp;
      </small>
    {{/each}}
    <br>
    <img {{bind-attr src="bookmark_img"}} alt='' class='bookmark-img'>
    <h6 class="inline-bold"><a {{bind-attr href="url"}}>Visit link</a></h6>
    {{#if authenticated}}
      {{#if editable}}
        <a href='' {{action 'remove' id}} class="action">{{fa-icon "fa-chain-broken"}} Unclip</a>
      {{else}}
        <a href='' {{action 'clipIt' id}} class="action">{{fa-icon "fa-bookmark-o"}} Clip it!</a>
      {{/if}}
    {{/if}}
    <br>
    <small>Clipped by</small>
    {{#each users}}
      <small class='small grey'>
        {{#link-to 'users.show' this}}&nbsp;{{name}}&nbsp;{{/link-to}}
      </small>
    {{/each}}
  </div>
  <br>
  <div class="columns medium-8">
    <h5>{{title}}</h5>
    <p>{{description}}</p>
    <p class='small'>{{url}}</p>
  </div>
</div>
<br><br>
{{/each}}



