<p>{{bookmarks.length}} bookmarks clipped under #{{topic}}</p>
{{#each bookmarks}}
<div class="row">
  <div class='columns medium-3'>
    <img {{bind-attr src="bookmark_img"}} alt='' class='bookmark-img'>
    <h6><a {{bind-attr href="url"}}>Visit link</a></h6>
    <small class='small'>Clipped by {{#link-to 'users.show' this.user}} {{user.name}} {{/link-to}}</small>
  </div>
  <div class="columns medium-8">
    <h5>{{title}}</h5>
    <p>{{description}}</p>
    <p class='small'>{{url}}</p>
  </div>
</div>
<br><br>
{{/each}}



