<div class="row">
  <h2 id='title'>Welcome to Bookclipper</h2>
  {{link-to 'Community Bookmarks' 'bookmarks' tagName='button' class="button tiny"}}
  {{link-to 'Hashtags' 'hashtags' tagName='button' class="button tiny"}}
  {{link-to 'My Bookclips' 'users.show' 'bookmarks' tagName='button' class="button tiny"}}
  {{link-to 'Users' 'users' tagName='button' class="button tiny"}}
</div>
<div class='row'>
  {{#if authenticated}}
    <p class="right small">signed in as {{#link-to 'users.account'}} {{user_name}} {{/link-to}}</p>
  {{else}}
    <p class="right">
      {{link-to 'Sign Up' 'users.new'}} or
      {{link-to 'Log In' 'users.login'}}
    </p>
  {{/if}}
  <hr>
</div>
{{outlet}}
