<div class="columns medium-6">
  {{#each}}
    <h5>{{title}}</h5>
    {{#link-to 'bookmarks.show' this}}
      <img {{bind-attr src='bookmark_img'}} alt='' class='bookmark-img'>
    {{/link-to}}
{{!--     <h1>{{editable}}</h1> --}}
      {{#if editable}}
        <a href='' {{action 'clipIt' id}}>{{fa-icon "fa-check-circle-o" size="lg"}} Clip it!</a>
      {{/if}}
    <br>
    {{#each hashtags}}
      <small>
        {{#link-to 'hashtags.show' this}}#{{topic}}{{/link-to}}
        &nbsp;
      </small>
    {{/each}}
    <br>
    <small>Clipped by:</small>
    {{#each users}}
      <small class='small grey'>
        {{#link-to 'users.show' this}}&nbsp;{{name}}{{/link-to}}
      </small>
    {{/each}}
    <br><br>
  {{/each}}
</div>
